*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  }
  .header{
  background-color: black;
  color:white;
  position: fixed;
  top:0px;
  padding: 20px 10px 20px 10px;
  font-family:Copperplate Gothic Light;
  margin:0px;
  font-size: 50px;
  text-align:left;
  width: 100vw;
  z-index: 5;

}
.space{

  background-color: black;
  height:50px;
  width:100vw;
  transition: height 1s;


}
.space:hover{
  height: 220px;
}
.dropdown{
position: fixed;
top:25px;
right:0px;
text-align: right;
float:right;
z-index: 5;
background-color: black;
}
ul{
list-style:none;
padding:0px;
margin:0px;
}
ul li{
  align-items: left;
  float:left;
  display:block;
  width:120px;
  height:50px;
  line-height: 50px;
  color:white;
  font-family: "Agency FB", Sans, sans-serif;
  font-size: 20px;

  text-align: center;
  text-decoration:none;
  opacity: 0.8;
  z-index: 5;

}
ul li a{
  color:white;
  text-decoration: none;
}
ul li:hover{
  background-color: green;
}


ul li:hover ul li{
  display:block;
}
ul li ul li{
  text-decoration: none;
  display:none;
}

.background-video{
  position: relative;
  top:0px;
  left: 0px;
  width:100vw;

  z-index: -2;
}
section1 h1{
  font-size: 100px;
}
.bio{
  position: relative;
  top:-700px;
  left:100px;
  color:#ff3333;
  font-family: "Gabriola";
  font-size: 35px;

}
.background-image{
  position:relative;
  width:100vw;
  top:0px;
  margin: 0px;
  padding:0px;
  z-index: -2;
}
